
/*** sMap ***/

div.sgvizler-sMap{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
div.sgvizler-sMap h1, div.sgvizler-sMap p{
    font-size: 11pt;
    margin: 2px 0 1px 0;
}
div.sgvizler-sMap p.text{
    font-family: serif;
}
div.sgvizler-sMap div.img{
    float: right;
    padding: 10px;
}